<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.sc.cbm.e193" >

    <uses-sdk android:minSdkVersion="11" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/
        http://stackoverflow.com/questions/456211/activity-restart-on-rotation-android
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cbmsc_logo"
        android:label="@string/app_name"
        android:logo="@drawable/ic_cbmsc_logo"
        android:theme="@style/MainTheme" >
        <activity
            android:name="org.sc.cbm.e193.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MainTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".beach.BeachActivity"
            android:label="@string/title_activity_praia"
            android:parentActivityName="org.sc.cbm.e193.MainActivity"
            android:theme="@style/PraiaTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.sc.cbm.e193.MainActivity" />
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".beach.insertion.wizard.MainActivity"
            android:label="@string/praia_insercao_wizard_name"
            android:parentActivityName=".beach.BeachActivity"
            android:theme="@style/PraiaTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".beach.BeachActivity"
                />
        </activity>

        <activity android:name=".beach.insertion.GVMListViewCursorAdaptorActivity"
                  android:parentActivityName=".beach.insertion.wizard.MainActivity"
                  android:label="GVMs"
                  android:theme="@style/PraiaTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".beach.insertion.wizard.MainActivity"
                />

        </activity>

        <activity android:name=".beach.insertion.GVCListViewCursorAdaptorActivity"
                  android:parentActivityName=".beach.insertion.wizard.MainActivity"
                  android:label="GVCs"
                  android:theme="@style/PraiaTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".beach.insertion.wizard.MainActivity"
                />

        </activity>

    </application>

</manifest>
